<object width="504" height="412">
	<param name="allowfullscreen" value="true" />
	<param name="wmode" value="opaque" />
	<param name="allowscriptaccess" value="always" />
	<param name="movie"
		value="http://vimeo.com/moogaloop.swf?clip_id=2285902&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" />
	<embed
		src="http://vimeo.com/moogaloop.swf?clip_id=2285902&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1"
		type="application/x-shockwave-flash" allowfullscreen="true"
		wmode="opaque" allowscriptaccess="always" width="504" height="412"></embed></object>