/**
 *
 * Styles override for high resolution screens
 */ /* Class used to determine which media queries are on */
#mediaquery-checker {
	height: 20px;
}

/* Hi-res backgrounds */
#shortcuts>li>a,#shortcuts>li>span,#shortcuts>li>a:before {
	background-image: url(../img/highres/shortcuts.png);
	background-size: 136px 560px;
}