#accordion {
	width: 315px;
}

#accordion a {
	font-size: 13px;
}

#accordion div {
	border-color: #8DB2E3;
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 3px
}

#accordion h3 {
	background-color: #FFFFFF;
	border: #CCCCCC 1px solid;
	padding: 7px 5px 7px 5px;
	margin-top: 2px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.links a {
	text-decoration: none;
	border: none;
}

.links a:hover {
	text-decoration: underline;
}

#accordion .selected {
	background-color: #ABC7EC;
	font-weight: bold;
	padding: 7px 5px 7px 5px;
	margin-top: 2px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

#accordion h3 {
	background: url('../images/panel-bg.gif');
	border-color: #8DB2E3;
	padding: 8px;
}