#updateHolder {
	background-color: green;
	width: 300px; /* <= For Width: change the width value */
	color: #333;
	margin-top: 10px;
	overflow: hidden;
}

#updateContainer {
	background-color: white;
	position: relative;
	cursor: pointer;
}

#updateContent {
	width: 100%;
	background: #F2F4F8;
	position: absolute;
}

#updateScollBar {
	background: none;
	position: absolute;
	width: 10px;
	right: 0;
	bottom: 0;
	cursor: default;
}

#updateScollScrubber {
	display: none;
	background-color: black;
	zoom: 1;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	opacity: 0.4;
	width: 8px;
	height: 100px;
	-moz-border-radius: 7px; /* Firefox */
	-webkit-border-radius: 7px; /* Safari, Chrome */
	border-radius: 7px; /* CSS3 */
	position: absolute;
}

#updateScollBar,#updateContainer,#updateHolder {
	height: 500px; /* <= For Height: change the height value */
}