<style type="text/css">
h1 {
	color: #c00000;
}

p {
	text-align: justify;
}

li {
	font-weight: bold;
}
</style>
<p>Dear</p>
<p>It gives me immense pleasure to welcome you to the ITC Grand
Chola, Chennai.</p>
<p>Rising majestically over the Chennai Skyline, this Flag ship
property in South India is synonymous with the ITC Hotel Tradition and
Philosophy, to root its hotels in their locations, thus honouring the
realms dynasties and their evocative culture, whilst also providing the
best possible contemporary business needs.</p>
<p>The Executive Club Room, finished in elegant Turkish Walnut
Travertine and deep tan wood panelling, is both spacious and has been
designed to provide our guests with an environment of quiet
contemplation & ergonomic functionality.</p>
<p>Your room has a well-designed work space, international multi
plug compatibility, Media Hub, High Speed internet connectivity,
anti-stumble lights, I-Pad interface for controlling various in- room
features & door view camera for added security, and also a spacious four
fixture bathroom</p>
<p>The ITC Grand Chola also offers a wide range of acclaimed
cuisines epitomized by restaurants such as Madras Pavilion, Caf&rsquo;e
Mercara, Nutmeg - Confectionary & Delicatessen, Peshawri, Cheroot Malt &
Cigar Lounge. We do hope that you have occasion to dine at our
restaurants during your stay.</p>
<p>Whilst I am confident that during your stay you shall experience
the warmth of the Indian culture and hospitality, do call upon me for
anything else that we can do to make your stay more comfortable.</p>
<p>We hope to see you again soon.</p>
<p>With Regards,<br />
Philippe Charraudeau<br />
Vice President & General Manager</p>
<p>&nbsp;</p>
<center>
<h1 style="color: #c00000;">Features of the Executive Club Room:</h1>
</center>
<h2 style="color: #000000;">The room features incorporate:</h2>
<ul>
	<li>A well-designed work desk with International Multi Plug
	access.</li>
	<li>Media Hub which enables guest laptop, IPod&reg;, Zune&copy;,
	portable video or game player to be connected to the in - room
	television.</li>
	<li>High Speed internet connectivity</li>
	<li>Anti-stumble lights</li>
	<li>I-Pad interface for controlling various in- room features</li>
	<li>Door view camera for added security,</li>
	<li>A Spacious Five fixture bathroom with a dressing area.</li>
	<li>In Room safety container & Tea Coffee maker</li>
</ul>

<center>
<h1 style="color: #c00000;">Privileges Include:</h1>
</center>
<ul>
	<li>Complimentary Buffet Breakfast at Madras Pavilion.</li>
	<li>Complimentary internet usage at business centre for 30
	minutes.</li>
	<li>Daily fruit platter on request, with our compliments</li>
	<li>Access to fitness centre and swimming pool.</li>
	<li>50% discount at Residents lounge during cocktail hours (6pm -
	8pm).</li>
</ul>
<p>&nbsp;</p>
<center>
<h1 style="color: #c00000;">Debuting Soon:</h1>
</center>
<p>The restaurants which will debut shortly are The Pan Asian, which
will open a gateway to an exquisite culinary experience from South east
Asia and the far east, Ottimo - the Italian Ristorante, The Royal Vega -
featuring delectable vegetarian cuisine from the kitchens of royal
India, Tranqebar - the elegant quiet bar combining luxury & refinement &
'I'-Zone - the hottest pub in town combining fun music, electric
ambience and plenty of good cheer. The hotel will also have the
acclaimed Kaya Kalp Spa which will also debut shortly.</p>