<style type="text/css">
h1 {
	color: #c00000;
}

p {
	text-align: justify;
}

ul li {
	list-style: disc;
}

li {
	font-weight: bold;
}
</style>
<p>Dear</p>
<p>It gives me immense pleasure to welcome you to the ITC Grand
Chola, Chennai.</p>
<p>Rising majestically over the Chennai Skyline, this Flag ship
property in South India is synonymous with the ITC Hotel Tradition and
Philosophy, to root its hotels in their locations, thus honouring the
realms dynasties and their evocative culture, whilst also providing the
best possible contemporary business needs.</p>
<p>The Towers Room is spacious and richly finished in light cherry
toned panelling and grey accented Italian Carrera marble flooring. The
concept has been to create a well designed and functional workspace
which combines the elements of contemporary technology and responsible
luxury, which will enable our guests to use the room as an extension of
their residence & also reduce the technological discomfort of moving out
of the normal working environment.</p>
<p>The ITC Grand Chola also offers a wide range of acclaimed
cuisines epitomized by restaurants such as Madras Pavilion, Cafe
Mercara, Nutmeg - Confectionary & Delicatessen, Peshawri, Cheroot Malt &
Cigar Lounge. We do hope that you have occasion to dine at our
restaurants during your stay.</p>
<p>Whilst I am confident that during your stay you shall experience
the warmth of the Indian culture and hospitality, do call upon me for
anything else that we can do to make your stay more comfortable.</p>
<p>We hope to see you again soon.</p>
<p>With Regards,<br />
Philippe Charraudeau<br />
Vice President & General Manager</p>
<p>&nbsp;</p>
<p>
<h4>Towers / Annexure</h4>
</p>
<h1 style="color: #c00000;">Features of the Towers Room:</h1>
<p style="font-weight: bold; font-size: 14px;">The Towers is a world
where you can experience the finest in hospitality & personalised
services in an atmosphere of gracious elegance. The room features
incorporate:</p>
<ul style="list-style: disc;">
	<li>A well-designed work desk with International Multi Plug
	access.</li>
	<li>Media Hub which enables guest laptop, IPod&reg;, Zune&copy;,
	portable video or game player to be connected to the in - room
	television.</li>
	<li>High Speed internet connectivity</li>
	<li>Anti-stumble lights</li>
	<li>I-Pad interface for controlling various in- room features</li>
	<li>Door view camera for added security,</li>
	<li>A Spacious Five fixture bathroom with a dressing area.</li>
	<li>In Room safety container & Tea Coffee maker</li>
</ul>


<h1 style="color: #c00000;">Privileges Include:</h1>

<ul style="list-style: disc;">
	<li>Complimentary Buffet Breakfast at Madras Pavilion.</li>
	<li>Complimentary use of board room for up to four hours, once
	during the stay.</li>
	<li>Exclusive access to the Towers Lounge / Resident&rsquo;s
	Lounge.</li>
	<li>Cocktails & hors d&rsquo;oeuvres during daily club hours from
	1800 to 2000 hours.</li>
	<li>Complimentary internet usage at business centre for 30
	minutes.</li>
	<li>Complimentary 4 pieces of laundry / ironing of garments per
	stay.</li>
	<li>Late Check-out till 4 pm subject to availability.</li>
	<li>Daily fruit platter with our compliments.</li>
	<li>Access to fitness centre and swimming pool.</li>
</ul>
<p>&nbsp;</p>
<h1 style="color: #c00000;">Debuting Soon:</h1>
<p>The restaurants which will debut shortly are The Pan Asian, which
will open a gateway to an exquisite culinary experience from South east
Asia and the far east, Ottimo - the Italian Ristorante, The Royal Vega -
featuring delectable vegetarian cuisine from the kitchens of royal
India, Tranqebar - the elegant quiet bar combining luxury & refinement &
&lsquo;I&rsquo;-Zone - the hottest pub in town combining fun music,
electric ambience and plenty of good cheer. The hotel will also have the
acclaimed Kaya Kalp Spa which will also debut shortly.</p>