<p>Dear Deloitte Delegate,</p>

<p>Namaste, we are delighted to welcome you to the Deloitte. India
Partners Meet 2012, and also to the ITC Grand Chola, Chennai.</p>
<p>Chennai has evolved as a city with tremendous potential for
industrial growth because of its economic viability and available
infrastructure. Chennai has witnessed a tremendous growth in its
automobile manufacturing, retail, health care and IT sector in the last
10 years. A major portion of India&rsquo;s automobile manufacturing
industry is based around the city.</p>
<p>Rising majestically over the Chennai skyline, this flag ship
property in South India is synonymous with the ITC Hotel tradition and
philosophy, to root its hotels in their locations, thus honoring the
realms dynasties and their evocative culture, whilst also providing the
best possible contemporary business needs.</p>


<p>We have also placed an annexure with the day-wise schedule of the
conference for your reference.</p>
<p>Whilst I am confident that during your stay you shall experience
the warmth of the Indian culture and hospitality, do call upon me for
anything else that I can do to make your stay more comfortable.</p>
<p>With Regards,<br />
Philippe Charraudeau <br />
Vice President & General Manager</p>

<h1>February 22nd 2012</h1>
<ul>
	<li>12 noon - 1400 hrs Lunch at Madras Pavilion</li>
	<li>1400 hrs - 1530 hrs: The Conference Commences; Venue: Rajendra
	1, 2 & 3.</li>
	<li>1530 hrs - 1600 hrs: Themed Break for Tea & Coffee.</li>
	<li>1600 hrs - 1800 hrs: Conference Resumes: Rajendra 1, 2 & 3.</li>
	<li>11900 hrs - 2300 hrs Formal Sit down Dinner, Venue: Rajendra 7
	& 8</li>
</ul>
<h1>February 23, 2012</h1>

<ul>
	<li>0730 hrs - 0930 hrs: Breakfast at Madras Pavilion and Cafe
	Mercara.</li>
	<li>0900 hrs - 0930hrs: A Grab & Go Breakfast Counter will also be
	arranged at the Madras Pavilion.</li>
	<li>0930 hrs - 1100 hrs: The Conference Commences; Venue: Rajendra
	1, 2 & 3</li>
	<li>1100 hrs - 1130 hrs: Themed Break for Tea & Coffee.</li>
	<li>1130 hrs - 1300 hrs: Conference Resumes.</li>
	<li>1300 hrs - 1400 hrs: Lunch at the Rajendra 4, 5, 6</li>
	<li>1400 hrs - 1530 hrs: Post Lunch session.</li>
	<li>1530 hrs - 1600 hrs: Break for Tea & Coffee.</li>
	<li>1600 hrs - 1815 hrs: Conference Resumes: Rajendra 1, 2 & 3.</li>
	<li>1900 hrs - 2300 hrs: Gala Dinner Rajendra 1 -3</li>
</ul>

<h1>February 24, 2012</h1>
<ul>
	<li>0730 hrs - 0930 hrs: Breakfast at Madras Pavilion and Cafe
	Mercara.</li>
	<li>0900 hrs - 0930 hrs: Speech in Rajendra 1 -3</li>
	<li>0930 hrs - 1200 noon: Breakout sessions; Venue: (Kaveri 1 - 4;
	and Rajendra 1)</li>
	<li>1200 noon - 1300 hrs: Awards distribution & Valedictory
	address.</li>
	<li>1300 hrs - 1400 hrs: Lunch at Rajendra 4, 5, 6.</li>
</ul>

<p>To ensure a safe and secure environment for you, we would like to
bring the following information to your attention:</p>

<table cellpadding="2" cellspacing="2" width="100%">
	<tr>
		<td valign="top">A.</td>
		<td>There are areas in the building still in the projects phase
		and hence out of bounds to guests.</td>
	</tr>
	<tr>
		<td valign="top">B.</td>
		<td>There are areas in the building still in the projects phase
		and hence out of bounds to guests.</td>
	</tr>
	<tr>
		<td valign="top">C.</td>
		<td>We request you not to access out of bound areas.</td>
	</tr>
	<tr>
		<td valign="top">D.</td>
		<td>We would also request you not to access areas demarcated as
		private unless warranted by an emergent situation.</td>
	</tr>
	<tr>
		<td valign="top">E.</td>
		<td>Access to the Fitness centre & pool area is through the North
		Block elevators. The Pool level is at level 35.</td>
	</tr>
	<tr>
		<td valign="top">F.</td>
		<td>The pool level is only partially operational & guests are
		requested not to access the out of bounds areas on the east & south
		facades.</td>
	</tr>
	<tr>
		<td valign="top">G.</td>
		<td>All fire exits are demarcated by illuminated signage&rsquo;s
		on each guest floor.</td>
	</tr>
	<tr>
		<td valign="top">H.</td>
		<td>May we request you to familiarise yourself with the fire exit
		route map, located on the reverse of the guest room door.</td>
	</tr>
	<tr>
		<td valign="top">I.</td>
		<td>The hotel operator can be reached by dialling &lsquo;6&rsquo;
		on your telephone.</td>
	</tr>
	<tr>
		<td valign="top">J.</td>
		<td>In case of an emergency, please press the Emergency button or
		dial &lsquo;3&rsquo; on the telephone.</td>
	</tr>
	<tr>
		<td valign="top">K.</td>
		<td>Do safeguard your Room Key Card so as to avoid any
		unnecessary inconvenience.</td>
	</tr>
	<tr>
		<td valign="top">L.</td>
		<td>The perimeter access road adjacent to the east & west facade
		of the building are out of bounds, as there is continuing projects
		work in these areas.</td>
	</tr>
	<tr>
		<td valign="top">M.</td>
		<td>Please ensure your Room door is locked before retiring or
		leaving it.</td>
	</tr>
	<tr>
		<td valign="top">N.</td>
		<td>When in your room, keep your door double locked and secure
		the night-latch.</td>
	</tr>
	<tr>
		<td valign="top">O.</td>
		<td>Use the peephole to identify all visitors before opening the
		door</td>
	</tr>
	<tr>
		<td valign="top">P.</td>
		<td>Do not leave your luggage unattended whilst in public areas &
		while checking out.</td>
	</tr>
	<tr>
		<td valign="top">Q.</td>
		<td>Use the mini-safe boxes in the room for valuables and money.</td>
	</tr>
</table>