body,html {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial;
	background: #191919;
}

body {
	margin: 1em;
}

ul.effects {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.effects li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 120px;
	height: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

div.effect {
	width: 120px;
	height: 100px;
	background: #ccc;
	border: 5px outset #aaa;
	float: left;
	cursor: pointer;
	cursor: hand;
}

div.current {
	border: 5px outset #FF9C08;
	background: #FF9C08;
}

div.effect p {
	color: #191919;
	font-weight: bold;
	margin: 0px;
	padding: 10px;
}

.ui-effects-transfer {
	border: 1px dotted #fff;
	background: #666;
	opacity: 0.5;
}