/**
 *
 * Basic print styles, from 320andUp
 * @url https://github.com/malarkey/320andup
 */
* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

a,a:visited {
	color: #444 !important;
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

a[href ^="javascript:"]:after,a[href ^="#"]:after {
	content: "";
}

pre,blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr,img {
	page-break-inside: avoid;
}

@page {
	margin: .5cm;
}

p,h2,h3 {
	orphans: 3;
	widows: 3;
}

h2,h3 {
	page-break-after: avoid;
}

/*---------------------print dialog------------------------------*/
.tempStatus {
	width: 70px;
	height: 53px;
	padding: 0px;
	line-height: 16px;
	position: relative;
	background: -moz-linear-gradient(center top, white, #E6E6E6) repeat
		scroll 0 0 transparent;
	margin: 2px;
	float: left;
	border: 1px solid grey;
}

.setspan {
	position: absolute;
	top: 30%;
	left: 10%;
}

.actspan {
	position: absolute;
	top: 30%;
	left: 12%;
}

.tempStatus.warn .third,.tempStatus.warn .fourth {
	background: orange;
}

.tempStatus.alert .third,.tempStatus.alert .fourth {
	background: #FF7676;
}

.tempStatus.ok .third,.tempStatus.ok .fourth {
	background: #99cc33;
}

.tempStatus .first,.second,.third,.fourth {
	width: 50%;
	height: 50%;
	float: left;
	position: absolute;
}

.tempStatus .center {
	left: 31%;
	top: 57%;
	text-align: center;
	z-index: 1000;
	text-shadow: 1px 1px 2px #D5D5D5;
	font-size: 18px;
	cursor: pointer;
	position: absolute;
}

.roomStatus .center {
	left: 25%;
	top: 25%;
	text-align: center;
	z-index: 1000;
	color: black;
	background: url('../img/center.png');
	border-radius: 5px;
	padding-right: 2px;
	padding-left: 1px;
	text-shadow: 1px 1px 2px #D5D5D5;
	font-size: 18px;
	line-height: 31px;
	cursor: pointer;
}

.roomStatus .first,.tempStatus .first {
	border-radius: 4px 0px 0px 0px;
	left: 0px;
}

.tempStatus .first {
	border-right: 1px solid grey;
}

.roomStatus .second,.tempStatus .second {
	border-radius: 0px 4px 0px 0px;
	right: 0px;
}

.roomStatus .third,.tempStatus .third {
	border-radius: 0px 0px 0px 4px;
	left: 0px;
	bottom: 0px;
}

.roomStatus .fourth,.tempStatus .fourth {
	border-radius: 0px 0px 4px 0px;
	right: 0px;
	bottom: 0px;
}