#dt_example {
	background-color: #FFFFFF;
	color: #333333;
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#dt_example #container {
	margin: 30px auto;
	padding: 0;
	width: 800px;
}

#dt_example #footer {
	margin: 50px auto 0;
	padding: 0;
}

#dt_example #demo {
	margin: 30px auto 0;
}

#dt_example .demo_jui {
	margin: 30px auto 0;
}

#dt_example .big {
	color: #4E6CA3;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
}

#dt_example .spacer {
	clear: both;
	height: 20px;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	padding: 15px;
}

#dt_example h1 {
	border-bottom: 1px solid #B0BED9;
	clear: both;
	color: #4E6CA3;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	margin-top: 2em;
}

#dt_example h2 {
	clear: both;
	color: #4E6CA3;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
}

#dt_example a {
	color: #0063DC;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	margin-bottom: 1em;
	width: 50%;
}

#demo_info {
	border: 1px solid #B0BED9;
	height: 100px;
	overflow: auto;
	padding: 5px;
	width: 100%;
}