/* Z-INDEX */
.formError {
	z-index: 999500;
}

.formError .formErrorContent {
	z-index: 999501;
}

.formError .formErrorArrow {
	z-index: 999502;
}

.formErrorInsideDialog.formError {
	z-index: 999520;
}

.formErrorInsideDialog.formError .formErrorContent {
	z-index: 999521;
}

.formErrorInsideDialog.formError .formErrorArrow {
	z-index: 999526;
}

.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	position: relative;
	width: 150px;
	border: 1px solid #931a03;
	padding: 6px 8px;
	color: white;
	background: #d52607 url(../img/old-browsers/colors/bg_red-gradient.png)
		repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#e24913),
		to(#d52607) );
	background: -webkit-linear-gradient(top, #e24913, #d52607);
	background: -moz-linear-gradient(top, #e24913, #d52607);
	background: -ms-linear-gradient(top, #e24913, #d52607);
	background: -o-linear-gradient(top, #e24913, #d52607);
	background: linear-gradient(top, #e24913, #d52607);
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	color: white;
	background: #87ba17
		url(../img/old-browsers/colors/bg_green-gradient.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#a7cf34),
		to(#87ba17) );
	background: -webkit-linear-gradient(top, #a7cf34, #87ba17);
	background: -moz-linear-gradient(top, #a7cf34, #87ba17);
	background: -ms-linear-gradient(top, #a7cf34, #87ba17);
	background: -o-linear-gradient(top, #a7cf34, #87ba17);
	background: linear-gradient(top, #a7cf34, #87ba17);
	border-color: #6d960c;
}

.blackPopup .formErrorContent {
	color: white;
	background: #000000
		url(../img/old-browsers/colors/bg_black-gradient.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333),
		to(#000000) );
	background: -webkit-linear-gradient(top, #333333, #000000);
	background: -moz-linear-gradient(top, #333333, #000000);
	background: -ms-linear-gradient(top, #333333, #000000);
	background: -o-linear-gradient(top, #333333, #000000);
	background: linear-gradient(top, #333333, #000000);
	border-color: black;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position: relative;
}

body[dir='rtl'] .formError .formErrorArrow,body.rtl .formError .formErrorArrow
	{
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0 0 12px;
	top: 2px;
}

.formError .formErrorArrow div {
	border-left: 1px solid #931a03;
	border-right: 1px solid #931a03;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #d52607;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #87ba17;
	border-color: #6d960c;
}

.blackPopup .formErrorArrow div {
	background: #000000;
	border-color: black;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #931a03;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #931a03;
}

.greenPopup .formErrorArrow .line1,.greenPopup .formErrorArrow .line2 {
	background: #6d960c;
}

.blackPopup .formErrorArrow .line1,.blackPopup .formErrorArrow .line2 {
	background: black;
}