<style>
.content-panel {
	padding-left: 0px !important;
}
.wallAction {
	position: relative;
	list-style-type: none;
	font-size: 12px;
	margin-left: 0;
	margin-bottom: 0;
}
.wallAction li {
	display: inline-block;
	padding: 5px;
}
#file_upload {
	padding: 14px 0 0 5px;
}
#file_upload-queue,#uploadPhotoButton {
	margin: 5px;
}

.uploadify-queue-item {
	color: #000;
}
#viewMoreComments:hover {
	background: #ffccccc;
	cursor: pointer;
}
#newsticker-container a {
	color: #D83B97;
	text-decoration: none;
}
#newsticker-container {
	width: auto;
	margin: auto;
	border: 5px solid #eeeeee;
}
#newsticker-container ul li div {
	border-top: 1px solid #e2e2e2;
	background: #ffffff;
	padding: 10px 5px;
}
.postImage {
	border: 2px solid #000;
}

.linkTypeText {
	color: #0059a0;
}
.linkTypeText:hover {
	cursor: pointer;
	background: #ffffaa;
}
/*Ticker css*/
.ticker li h2 {
	margin: 0px;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
	color: rgb(195, 0, 25);
}
.ticker li img {
	margin: 5px 10px 10px 0px;
	float: left;
}
#uNameCommented { /*margin: 16px;*/
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 0px;
}
p {
	-ms-word-break: break-all;
	word-break: break-all; // Non standard for webkit word-break :
	break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.ago {
	color: #666666;
	font-size: 10px;
}
/**/
.boardMessage {
	background: #fff;
	font-size: 14px;
	color: #3c3c3c;
	font-style: italic;
}
#scrollbox3,.feedDetail {
	list-style-type: none;
	list-style-position: inside;
	height: 800px;
	overflow-y: scroll;
}
#contentLiOne:hover,#contentLiTwo:hover {
	cursor: pointer;
}
#update_button, .comment_button
{
	margin-top: 5px;
}
.ticker a
{
	color: #000;
}
.ticker a:hover
{
	background: #F2F5A9;
}
#container
{
	width: 850px;
	height: 440px;
	padding: 0;
	float: right;
	overflow:hidden;
}
</style>