body { /*font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #313030;
	background-color: #027fcf;
	background-image: url(../../images/top-rept.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;*/
	color: #6E6E6E;
	background: url(../../images/bg_10081.png) repeat-y scroll center center
		#d3d3d1;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 80%;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea {
	padding: 0px;
	margin: 0px;
}

img,div,input {
	behavior: url("images/iepngfix.htc");
}

.main-out {
	background-image: url(../../images/trans.png);
	background-repeat: repeat-y;
	background-position: center top;
	width: 100%;
	float: left;
}

.main {
	width: 1000px;
	margin: 0px auto;
}

.page {
	width: 1000px;
	float: left;
	padding: 0px 0px 0px 0px;
}

.top {
	background-color: #f6f7f7;
	width: 980px;
	float: left;
	padding: 0px 10px 10px 10px;
}

.header {
	width: 980px;
	float: left;
}

.header-top {
	background-image: url(../../images/header-top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 980px;
	height: 87px;
	float: left;
}

.header-top h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 35px;
	font-weight: normal;
	line-height: 87px;
	color: #676767;
	float: left;
	margin-left: 66px;
}

.header-top h1 span {
	color: #1da5ea;
}

.header-top p {
	font-size: 12px;
	font-weight: bold;
	color: #878585;
	float: right;
	margin-top: 46px;
	margin-right: 80px;
}

.topmenu {
	background-image: url(../../images/menubg.jpg);
	background-repeat: repeat-x;
	width: 978px;
	height: 37px;
	float: left;
	border: 1px solid #000000;
}

.topmenu ul {
	width: 90%;
	height: 37px;
	list-style-type: none;
}

.topmenu ul li {
	height: 37px;
	float: left;
	padding-right: 7px;
	padding-left: 7px;
}

.topmenu ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 37px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 37px;
	float: left;
	padding-right: 13px;
	padding-left: 13px;
}

.topmenu ul li a:hover {
	background-image: url(../../images/menu-hov.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.header-img {
	background-image: url(../../images/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 980px;
	height: 213px;
	float: left;
}

.header-img h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 211px;
	color: #FFFFFF;
	margin-left: 98px;
}

.content {
	background-image: url(../../images/body-rept.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	width: 980px;
	float: left;
	padding-top: 8px;
}

.content-left {
	width: 970px;
	float: left;
}

.row1 {
	width: 739px;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d4d5d5;
}

.img {
	float: left;
}

.welcome {
	width: 562px;
	float: right;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #989b9c;
	margin-bottom: 20px;
}

.title span {
	color: #686868;
}

.row2 {
	background-color: #e8eae9;
	width: 737px;
	height: 216px;
	float: left;
	border: solid 1px #dbdada;
}

.section1 {
	width: 330px;
	height: 176px;
	float: left;
	padding: 20px;
}

.section2 {
	background-image: url(../../images/section-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 327px;
	height: 176px;
	float: left;
	padding: 20px;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #0b90d6;
	margin-bottom: 15px;
}

a.more {
	font-size: 12px;
	line-height: 25px;
	color: #4d4e4e;
	text-decoration: none;
	background-image: url(../../images/more-btn.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	display: block;
	width: 80px;
	height: 25px;
	padding-left: 10px;
}

a.more:hover {
	color: #0b90d6;
}

.content-right {
	background-color: #d6d6d6;
	background-image: url(../../images/sidebarbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	width: 210px;
	float: right;
	padding-right: 20px;
	margin-top: 21px;
	border: 1px solid #d9d8d8;
}

.content-right h2 {
	font-size: 22px;
	font-weight: normal;
	color: #0b90d6;
	margin-top: 20px;
	margin-bottom: 16px;
	margin-left: 20px;
}

.content-right ul {
	list-style-type: none;
}

.content-right ul li {
	background-image: url(../../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 23px center;
	padding-left: 45px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cbcccc;
}

.content-right ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3e3d3d;
	text-decoration: none;
	text-align: left;
	display: block;
}

.content-right ul li a:hover {
	color: #0b90d6;
}

.bottom {
	background-image: url(../../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width: 1000px;
	height: 116px;
	float: left;
}

.bottom ul {
	margin-top: 30px;
	list-style-type: none;
}

.bottom ul li {
	display: inline;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

.bottom ul li a {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}

.bottom ul li a:hover {
	text-decoration: underline;
}

.bottom p {
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 40px;
}

.bottom a {
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 40px;
}

/*   ************************    Old CSS **************     */
.hr hr {
	line-height: 0.5;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.border_tbl {
	border: #E8E8E8 1px solid;
	font-size: 12px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.tbl_background {
	background-color: #FFFFFF;
}

.button {
	color: #5E5F5D;
	font-size: 12px;
	font-weight: bold;
	height: 32px;
	background: url(../../images/butten.png) repeat-x;
	border: #CCCCCC 1px solid;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.button:hover {
	height: 32px;
	background: url(../../images/butten.png) repeat-x;
	border: #757675 1px solid;
	color: #000;
}

.report-panel {
	
}

.report-panel-heading {
	font-weight: bold;
	background-color: #ABC7EC;
}

.expand {
	
}

.colasp {
	
}

.heading {
	font-weight: bold;
	font-size: 18px;
}

.menu {
	background: url('../../images/menu-bg.gif') repeat-x;
	height: 40px;
	border-top: #E8E8E8 1px solid;
	border-bottom: #E8E8E8 1px solid;
}

.left {
	background-color: #FFFFFF;
	border: #E8E8E8 1px solid;
	padding-left: 10px;
}

.footer {
	background: #FFFFFF;
	height: 30px;
	color: #000;
	font-size: 9px;
}

/*.menu a{color: #000; font-weight: bold; font-size: 12px; margin-left:1%; text-decoration: none;}
.menu a:hover{text-decoration:underline}*/
.left {
	margin: 0px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

.maincontent {
	margin: 10px 10px 10px 10px;
	background-color: #FFFFFF;
	border: #E8E8E8 1px solid;
}

.contentheading {
	font-size: 14px;
	padding: 5px 5px 5px 5px;
	padding-left: 1%;
	font-weight: bold;
	height: 25px;
	border-bottom: #E8E8E8 1px solid;
}

/*.pageheading{font-size: 16px; padding: 5px 5px 5px 5px; background: #99B3CC; padding-left: 1%; font-weight: bold}*/
.pageheading {
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	padding-left: 1%;
	font-weight: bold;
	border-bottom: #E8E8E8 1px solid;
}

.pagecontent {
	padding: 5px 5px 5px 5px;
	font-size: 12px;
}

.listheading th {
	background: #2d2d28;
	color: #FFFFFF
}

.listheading th label {
	color: #6E6E70;
}

.even {
	
}

.odd {
	background: #D3D3D1
}

.maincontent a {
	color: #2500C1;
	text-decoration: none;
}

.maincontent a:hover {
	color: #2500C1;
	text-decoration: underline;
}

.error {
	color: #BF3C1A;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	font-size: 12px;
}

.success {
	color: #007B0E;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	font-size: 12px;
}

.multiple_chk {
	border: #99B3CC;
}

.tip {
	text-align: left;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 10px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px;
	margin-top: 5px;
}

#accordion {
	width: 315px;
}

#accordion a {
	font-size: 12px;
}

#accordion div {
	border-color: #8DB2E3;
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 3px
}

#accordion .tab {
	background-color: #FFFFFF;
	border: #CCCCCC 1px solid;
	padding: 7px 5px 7px 5px;
	margin-top: 2px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.links a {
	text-decoration: none;
	border: none;
}

.links a:hover {
	text-decoration: underline;
}

#accordion .selected {
	background-color: #ABC7EC;
	font-weight: bold;
	padding: 7px 5px 7px 5px;
	margin-top: 2px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

#accordion h3 {
	background: url('../../images/panel-bg.gif');
	border-color: #8DB2E3;
	padding: 0px 0px 0px 0px;
}

.trbg {
	background: url('../../images/butten.png');
	height: 30px;
	border-bottom: #8DB2E3 1px solid;
}

/*####################################### Menu Start ######################################################### */
#main_menu ul li {
	list-style: none;
}

#main_menu {
	float: left;
}

.ux-menu-container {
	position: relative;
}

.ux-menu,.ux-menu ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.ux-menu li {
	position: relative;
	float: left;
}

.ux-menu ul {
	position: absolute;
	top: 0;
	left: 0;
	background: #f3efec url(../../images/menu.gif) repeat;
	padding-left: 25px;
	border: #8DB2E3 1px solid;
}

.ext-border-box .ux-menu-ie-iframe,.ext-ie7 .ux-menu-ie-iframe {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	zoom: 1;
	z-index: -1;
	filter: mask();
}

.ux-menu-vertical .ux-menu-item-main {
	clear: left;
}

.ux-menu a {
	display: block;
	position: relative;
	text-decoration: none;
	color: #432;
	/*border-left: 1px solid #e3dad1;
    border-top: 1px solid #e3dad1;
    border-bottom: 1px solid #e3dad1;
    background: #f3efec url(../../images/menu-item-bg.png) repeat;*/
	font-size: 12px;
	line-height: 12px;
	padding: 10px 14px;
}

.ux-menu a.ux-menu-link-last { /* border-right: 1px solid #e3dad1;*/
	
}

ux.menu ul a {
	width: 100%;
}

.ux-menu a:focus,.ux-menu a:hover,.ux-menu a.ux-menu-link-hover {
	border-color: #d2e3f4;
	background: url(../../images/menu-item-bg-over.png) repeat;
	outline: 0;
}

.ext-ie .ux-menu-clearfix {
	zoom: 1;
}

.ux-menu-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ux-menu a.ux-menu-link-parent {
	padding-right: 24px;
	min-width: 1px;
}

.ux-menu ul a,.ux-menu.ux-menu-vertical a {
	border-bottom: 0px;
	border-right: 1px solid #e3dad1;
}

.ux-menu ul a.ux-menu-link-last,.ux-menu.ux-menu-vertical a.ux-menu-link-last
	{
	border-bottom: 1px solid #e3dad1;
}

.ux-menu-arrow {
	display: block;
	width: 8px;
	height: 6px;
	right: 10px;
	top: 14px;
	position: absolute;
	background: url(../../images/menu-arrow-down.png) no-repeat;
	font-size: 0;
}

.ux-menu.ux-menu-vertical .ux-menu-arrow,.ux-menu ul .ux-menu-arrow {
	width: 6px;
	height: 8px;
	top: 13px;
	background: url(../../images/menu-arrow-right.png) no-repeat;
}

.ext-border-box .ux-menu-arrow {
	top: 17px;
}

.ext-border-box .ux-menu.ux-menu-vertical .ux-menu-arrow,.ext-border-box .ux-menu ul .ux-menu-arrow
	{
	top: 16px;
}

.ux-menu ul.ux-menu-hidden {
	display: none;
}

ul li {
	list-style: none;
}

/* Sorting start */
#gallery ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#gallery li {
	list-style-type: none;
	float: left;
	padding: 5px;
	width: 49%
}

.placeHolder div {
	background-color: white !important;
	border: dashed 2px gray !important;
	width: 100%;
	height: 100%;
}

.tip {
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	background-color: #000000;
	border: #CCCCCC 1px solid;
	font-size: 14px;
	display: none;
	zindex: 999;
	position: absolute;
}

span {
	text-align: left;
}

.list_view {
	display: none;
	background-color: #CCCCCC;
}

/*.popup{position: absolute; z-index: 999; border: #CCCCCC 1px solid; width: 50%; background-color: #CCCCCC;}*/
.popup_content {
	margin: 5px 5px 5px 5px;
	background-color: #FFFFFF;
}

.jquery_popup {
	position: absolute;
	z-index: 999;
	border: #CCCCCC 1px solid;
	width: 50%;
	background-color: #CCCCCC;
}

/*
.current {
  background:#fff!important;
}
*/ /*

.ux-menu.ux-menu-horizontal > .ux-menu-item-first > a {
    background: transparent url(images/menu-item-first.png) no-repeat center left;
}
.ux-menu.ux-menu-horizontal > .ux-menu-item-last > a {
    background: transparent url(images/menu-item-last.png) no-repeat center right;
}

.ux-menu.ux-menu-horizontal > .ux-menu-item-first.ux-menu-item-hover > a {
    background: transparent url(images/menu-item-first-over.png) no-repeat center left;
}
.ux-menu.ux-menu-horizontal > .ux-menu-item-last.ux-menu-item-hover > a {
    background: transparent url(images/menu-item-last-over.png) no-repeat center right;
}

.ux-menu.ux-menu-horizontal > li.ux-menu-item-main > a {
    padding-bottom: 12px;
}*/
br.clear {
	height: 1px;
}

#root,#root td {
	color: #333333;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
}

/*a:link, a:hover {
    color: #136CB2;
}*/
a:visited {
	color: #70579D;
}

a:active {
	color: #E7BE00;
}

p {
	line-height: 140%;
	margin: 0.5em 0 0.75em;
	padding: 0;
}

img {
	border: medium none;
}

h1 {
	color: #333333;
	font-size: 21px;
	line-height: 110%;
	margin: 14px 0;
}

.article h1 {
	border-bottom: 1px dotted #CCCCCC;
	margin: 0 0 8px;
	padding: 0 0 12px;
}

.article h1.header {
	border-bottom: medium none;
	margin: 0;
	padding: 0;
}

.article h1.header span {
	color: #999999;
	font-size: 17.5px;
	font-weight: normal;
}

h2 {
	color: #A58500;
	font-size: 17.5px;
	margin: 0 0 0.5em;
	padding: 0;
}

h3 {
	color: #A58500;
	font-size: 15px;
	margin: 0 0 0.5em;
	padding: 0;
}

h4 {
	color: #666666;
	font-size: 13px;
	margin: 0.35em 0 0.25em;
	padding: 0;
}

h4.inline {
	display: inline;
	padding: 0 0.5em 0 0;
}

h4.li_group {
	background-color: inherit;
	display: inline;
	line-height: 2.6em;
}

h4.li_group span {
	font-weight: normal;
}

h4.li_group:before {
	border-bottom: 1px dotted #CCCCCC;
	content: "";
	float: left;
	margin-bottom: -1.5em;
	margin-top: 1.6em;
	width: 100%;
}

h5 {
	color: #666666;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

h5.inline {
	display: inline;
	padding: 0 0.5em 0 0;
}

h5.li_group {
	background-color: inherit;
	display: inline;
	line-height: 2.2em;
}

h5.li_group span {
	font-weight: normal;
}

h5.li_group:before {
	border-bottom: 1px dotted #CCCCCC;
	content: "";
	float: left;
	margin-bottom: -1.2em;
	margin-top: 1.1em;
	width: 100%;
}

h5.li_group span {
	font-weight: normal;
}

ul {
	margin: 0;
	padding-left: 1.25em;
}

ol {
	margin: 0;
	padding-left: 2em;
}

ol li {
	list-style-type: decimal;
}

li {
	margin-bottom: 0.5em;
}

.redesign .ghost {
	color: #CCCCCC;
}

.redesign .mellow {
	color: #999999;
}

.article div.options,.article div.parent {
	font-size: 15px;
	margin-bottom: 2px;
}

.article div.parent h3,.article div.options h3 {
	display: inline-block;
	margin: 2px 0.1em 2px 0;
}

.article div.options a,.article div.parent a {
	text-decoration: none;
}

.article div.options a:hover,.article div.parent a:hover {
	text-decoration: underline;
}

.rightcornerlink {
	border-left: 1px dotted #CCCCCC;
	float: right;
	font-size: 11px;
	margin: -10px 0 0 10px;
	padding: 10px 0 1px 7px;
}

.rightcornerlink span {
	color: #CCCCCC;
}

.rightcornerlink form {
	display: inline;
}

.rightcornerlink form select.fixed {
	font-size: 13px;
	vertical-align: middle;
}

.rightcornerlink form input.fixed {
	vertical-align: middle;
}

.rightcornerlink span.filmo-show-hide-all {
	color: #333333;
	cursor: pointer;
}

.fontsmall {
	font-size: 10px !important;
}

a.offsite-link {
	background: url("/images/offsite.png") no-repeat scroll right center
		transparent;
	padding: 0 13px 0 0;
}

img.hidden {
	display: none;
	visibility: hidden;
}

img.absmiddle {
	margin-bottom: 0.2em;
	vertical-align: middle;
}

.txt-block {
	margin: 0.35em 0;
}

.nobr {
	white-space: nowrap;
}

.center {
	text-align: center;
}

hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
	border-right: 0 none;
	border-style: dotted none none;
	border-width: 1px 0 0;
	height: 1px;
}

a.linkastext {
	color: black;
	text-decoration: none;
}

a.linkastext:hover {
	color: blue;
	text-decoration: underline;
}

.disabled {
	color: #999999 !important;
}

.error {
	color: #990000;
	font-weight: bold;
}

.emphasis {
	background: none repeat scroll 0 0 #FFFFCC;
	font-weight: bold;
}

.less-emphasis {
	font-size: 85%;
	margin: 0.25em 0;
}

.see-more {
	border-top: 1px dotted #CCCCCC;
	clear: both;
	display: block;
	font-size: 100%;
	margin: 5px 0 0;
	padding: 5px 0 0;
	text-align: left;
}

.see-more.inline {
	border: medium none;
	clear: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.see-more span {
	color: #CCCCCC;
}

.message_box .see-more {
	border-top: medium none;
	float: right;
	margin-top: -1.2em;
	padding: 0;
}

.message_box .see-more .btn {
	margin-top: 0.12em;
}

.nopmargin p {
	margin: 0;
}

fieldset {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
	border-style: none none dotted;
	border-width: medium medium 1px;
	margin: 0 0 0.5em;
	padding: 0 0 0.5em;
}

legend {
	color: #655300;
	font-size: 130%;
	font-weight: bold;
	margin: 0;
	padding: 0.5em 0 0.25em;
	text-transform: capitalize;
}

label {
	font-weight: bold;
}

label.block {
	display: block;
	margin: 1em 0 0.5em;
}

button {
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	font-weight: bold;
	padding: 0.25em;
}

.linkasbutton-primary,.linkasbutton-secondary {
	border-radius: 3px 3px 3px 3px;
}

button.primary,.linkasbutton-primary {
	background: url("/images/wheel/button-bg.gif") repeat-x scroll 0 0
		#F3CE00;
	border-color: #D5AB55 #CC9933 #CC9933 #D5AB55;
	border-style: solid;
	border-width: 1px;
	color: #000000 !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 4px;
	overflow: visible;
	padding: 6px 10px;
	text-decoration: none;
	vertical-align: middle;
}

.bt {
	background-color: #ECE2C6;
	background-image: url("../../images/gradient-bg.png");
	background-repeat: repeat-x;
	border-color: #E0E0E0 #C0C0C0 #C0C0C0 #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: #000000 !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, Sans-serif;
	font-weight: normal;
	margin: 0;
	overflow: visible;
	padding: 3px;
	text-decoration: none;
	vertical-align: baseline;
	padding: 6px 12px 6px 12px;
}

#cancel {
	text-decoration: none;
	color: black;
}

#link a {
	color: #DFDEBB;
	text-decoration: none;
	background-color: #2d2d28;
}

.bt1 {
	color: #DFDEBB;
	text-decoration: none;
	background-repeat: repeat-x;
	border-color: #E0E0E0 #C0C0C0 #C0C0C0 #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: #000000 !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, Sans-serif;
	font-weight: normal;
	margin: 0;
	overflow: visible;
	padding: 3px;
	text-decoration: none;
	vertical-align: baseline;
	padding: 6px 12px 6px 12px;
}

button.secondary,.linkasbutton-secondary {
	background: url("/images/wheel/button-bg.gif") repeat-x scroll 0 -150px
		#ECE2C6;
	border-color: #BBBBBB #AAAAAA #AAAAAA #BBBBBB;
	border-style: solid;
	border-width: 1px;
	color: #000000 !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal !important;
	margin-bottom: 4px;
	overflow: visible;
	padding: 5px 6px;
	text-decoration: none;
	vertical-align: middle;
}

.yn .linkasbutton-secondary {
	height: inherit !important;
	padding: 3px 6px !important;
}

.action-box .linkasbutton-primary,.action-box button.secondary,.action-box .linkasbutton-secondary
	{
	display: block;
	margin-bottom: 3px;
}

button.primary:hover,button.primary-hover,.linkasbutton-primary:hover,button.secondary:hover,button.secondary-hover,.linkasbutton-secondary:hover
	{
	background-image: none;
	border: 1px solid #E6B800;
}

.linkasbutton-secondary.search {
	padding: 2px 6px;
	vertical-align: top;
}

button.media {
	background: url("/images/wheel/button-bg-media.gif") repeat-x scroll
		left top #333333;
	border: 3px double #666666;
	color: #FFFFFF;
	font-size: 12px;
}

button.media:hover,button.media-hover {
	border-color: #999999;
	color: #CCCCCC;
}

.callout {
	background-color: #B19200;
	border-style: none;
	color: white;
	display: inline;
	font-size: 10px;
	font-weight: bold;
	padding-left: 0.25em;
	padding-right: 0.25em;
	text-align: center;
	white-space: nowrap;
}

.callout-box {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E6BC00;
	display: block;
	margin: 1em;
	padding: 0.25em;
	width: 250px;
}

.message_box {
	overflow: auto;
}

.message_box .success,.message_box .alert,.message_box .error,.message_box .showtime
	{
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 9px;
	padding: 12px 12px 12px 64px;
}

.message_box div h2 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
}

.message_box div p {
	line-height: 120%;
	margin: 0.2em 0 0;
	padding: 0;
}

.message_box .success {
	background: url("/images/notify.png") no-repeat scroll 12px 12px #CFF2AD;
}

.message_box .success h2 {
	color: #3E4834;
}

.message_box .success p {
	color: #3E4834;
}

.message_box .alert {
	background: url("/images/warning.png") no-repeat scroll 12px 12px
		#F3EEAF;
}

.message_box .alert h2 {
	color: #48462E;
}

.message_box .alert p {
	color: #48462E;
}

.message_box .error {
	background: url("/images/error.png") no-repeat scroll 12px 12px #FFE3E3;
}

.message_box .error h2 {
	color: #D6000C;
}

.message_box .error p {
	color: #D6000C;
	font-weight: normal;
}

.message_box .info {
	background: url("/images/info.png") no-repeat scroll 12px 12px #FFFFFF;
}

.message_box .info h2 {
	color: #222222;
}

.message_box .info p {
	color: #222222;
	font-weight: normal;
}

.message_box .showtime {
	background: url("/images/showtime.png") no-repeat scroll 12px 12px
		#F3EEAF;
}

.message_box .showtime h2 {
	color: #48462E;
}

.message_box .showtime p {
	color: #48462E;
}

.message_box.small div {
	padding: 7px 7px 7px 34px;
}

.message_box.small div h2 {
	display: inline;
	font-size: 13px;
}

.message_box.small div p {
	display: inline;
	font-size: 13px;
}

.message_box.small .success {
	background-image: url("/images/notify_small.png");
	background-position: 8px 8px;
}

.message_box.small .alert {
	background-image: url("/images/warning_small.png");
	background-position: 8px 8px;
}

.message_box.small .error {
	background-image: url("/images/error_small.png");
	background-position: 8px 8px;
}

.message_box.small .info {
	background-image: url("/images/info_small.png");
	background-position: 8px 8px;
}

.popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	display: none;
	padding: 0;
	position: absolute;
	z-index: 200;
}

.popup>.title {
	background: none repeat scroll 0 0 #F6F1E3;
	border-bottom: 1px solid black;
	border-radius: 10px 10px 0 0;
	display: block;
	font-weight: bold;
	padding: 10px 0 10px 15px;
}

.popup>a.close.btn {
	float: right;
	margin: 6px;
	width: 10px;
}

.popup>.body {
	padding: 10px;
}

.details_even {
	height: 161px;
	text-align: left;
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	background: #FBFBFB;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#FBFBFB', endColorstr = '#E8E8E8' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB),
		to(#E8E8E8) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #FBFBFB, #E8E8E8);
	/* for firefox 3.6+ */
	color: #FFFFFF;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.details_odd {
	height: 161px;
	text-align: left;
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	background: #FBFBFB;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#FBFBFB', endColorstr = '#F6F6F5' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB),
		to(#F6F6F5) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #FBFBFB, #F6F6F5);
	/* for firefox 3.6+ */
	color: #FFFFFF;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.details_even img {
	width: 140ps;
	height: 140px;
}

.details_odd img {
	width: 140ps;
	height: 140px;
}

/*.details_even td{color:#FFFFFF;}
.details_odd td{color:#FFFFFF;}*/
FONT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

TD {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px;
}

BODY {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

P {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

DIV {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

.dropshadow {
	-moz-box-shadow: 2px 2px 3px 2px #999; /* Firefox */
	-webkit-box-shadow: 2px 2px 3px 2px #999; /* Safari/Chrome */
	box-shadow: 2px 2px 3px 2px #999;
	/* Opera and other CSS3 supporting browsers */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999')";
	/* IE 8 */
	progid: DXImageTransform.Microsoft.Shadow ( Strength = 4, Direction =
		135, Color = '#999999' ); /* IE 5.5 - 7 */
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.title {
	font-size: 11px;
	font-weight: bold;
}

.pagination {
	font-size: 11px;
	margin: 0px 10px 0px 10px;
}

.pagination a {
	border: #E8E8E8 1px solid;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.pagination strong {
	padding: 5px 3px 5px 3px;
}

#search_box input {
	border: medium none;
	border-radius: 3px 0 0 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	font: 14px Verdana, Arial, sans-serif;
	height: 32px;
	padding: 5px 8px;
	width: 337px;
}

a.btn,button.btn,input.btn,me {
	background-color: #ECE2C6;
	background-image: url("../../images/gradient-bg.png");
	background-repeat: repeat-x;
	border-color: #E0E0E0 #C0C0C0 #C0C0C0 #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: #000000 !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, Sans-serif;
	font-weight: normal;
	margin: 0;
	overflow: visible;
	padding: 0.3em 0.6em;
	text-decoration: none;
	vertical-align: baseline;
}

.pageform input {
	font: 14px Verdana, Arial, sans-serif;
	height: 20px;
}

.magnifyingglass {
	background: url(../../images/search.png) no-repeat center;
	width: 30px;
	height: 20px;
}

.qq-uploader {
	position: relative;
	width: 100%;
}

.qq-upload-button {
	display: block; /* or inline-block */
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.qq-upload-button-hover {
	background: #cc0000;
}

.qq-upload-button-focus {
	outline: 1px dotted black;
}

.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 70px;
	z-index: 2;
	background: #FF9797;
	text-align: center;
}

.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
}

.qq-upload-drop-area-active {
	background: #FF7171;
}

.qq-upload-list {
	margin: 15px 35px;
	padding: 0;
	list-style: disc;
}

.qq-upload-list li {
	margin: 0;
	padding: 0;
	line-height: 15px;
	font-size: 12px;
}

.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text
	{
	margin-right: 7px;
}

.qq-upload-file {
	
}

.qq-upload-spinner {
	display: inline-block;
	background: url("../../images/loading_ajax.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}

.qq-upload-size,.qq-upload-cancel {
	font-size: 11px;
}

.qq-upload-failed-text {
	display: none;
}

.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

.tinypercent {
	background: none repeat scroll 0 0 transparent;
	font-family: Verdana, Helvetica;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
}

.progress_bar {
	background: url(../../images/red25.png) repeat-x;
}

.rip_progress {
	height: 10px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.sort_list tr {
	background-color: #000;
}

.sort_list td {
	background-color: #EAEBEB;
}

.tab-button {
	border-radius: 4px 4px 4px 4px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-right: 16px;
	min-width: 54px;
	outline: 0 none;
	padding: 0 8px;
	text-align: center;
	color: #F2F2F2;
}

.tab-button-primary {
	text-decoration: none;
	/*background-color: #F5F5F5;*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878),
		color-stop(0.5, #5E5E5E), color-stop(0.51, #707070),
		color-stop(1, #838383) );
	background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%
		, #838383 100%);
	background-color: #5f5f5f; /* Fallback */
	/*background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);*/
}

.tab-button-primary a {
	text-decoration: none;
	color: #6E6E6E;
}

.tab-button-primary:hover { /*color: #000;
    background-color: #B0281A;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #538EC6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F),
		color-stop(0.5, #383838), color-stop(0.51, #434343),
		color-stop(1, #555555) );
	background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%
		, #555555 100%);
	background-color: #383838; /* Fallback */
	/* We use the inset of the box shadow to create a subtle inner glow when hovering */
	-moz-box-shadow: inset 0 0 5px 5px #535353;
	-webkit-box-shadow: inset 0 0 5px 5px #535353;
	box-shadow: inset 0 0 5px 5px #535353;
}

.menu2 a:visited {
	text-decoration: none;
	color: #6E6E6E;
}

.menu2 {
	color: #6E6E6E;
	background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	border: 1px solid #538EC6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
	padding: 5px;
	text-decoration: none;
}

#main_menu_btn a {
	text-decoration: none;
	color: #6E6E6E;
}

.pagemsg {
	line-height: 0.5
}

.button_menu:hover {
	background: #F4F4F4;
}

.button_menu {
	text-align: left;
	padding: 5px 0px 5px 5px;
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
	border-radius: 4px /*{cornerRadius}*/;
}

.selected {
	background: #F4F4F4;
}

.required {
	font-size: 14px;
	font-weight: bold;
	color: #B30000;
}

a {
	text-decoration: none;
	color: #114EEB;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #114EEB;
}

.liselected {
	background-image: url(../../images/menu-hov.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

a.tabledrag-handle .handle {
	background: url("../../images/draggable.png") no-repeat scroll 0 0
		transparent;
	height: 13px;
	margin-top: 4px;
	width: 13px;
}