
<ul class="UIAPIPlugin-toc">
	<li><a href="#overview">Overview</a></li>
	<li><a href="#options">Arguments</a></li>
</ul>
<div class="UIAPIPlugin">
<h1>jQuery UI Transfer Effect</h1>
<div id="overview">
<h2 class="top-header">Overview</h2>
<div id="overview-main">
<p>Transfers the outline of an element to another element. Very
useful when trying to visualize interaction between two elements.</p>
<p>The transfer element iself has the class name
"ui-effects-transfer", and needs to be styled by you, for example by
adding a background or border.</p>
</div>
<div id="overview-dependencies">
<h3>Dependencies</h3>
<ul>
	<li>Effects Core</li>
</ul>
</div>
<div id="overview-example">
<h3>Example</h3>
<div id="overview-example" class="example">
<ul>
	<li><a href="#demo"><span>Demo</span></a></li>
	<li><a href="#source"><span>View Source</span></a></li>
</ul>
<p>
<div id="demo" class="tabs-container" rel="170">Clicking on the
green element transfers to the other.<br />
</p>
<pre>
$(&quot;div&quot;).click(function () {
      var i = 1 - $(&quot;div&quot;).index(this);
      $(this).effect(&quot;transfer&quot;, { to: $(&quot;div&quot;).eq(i) }, 1000);
});

</pre>
<p>
</div>
<div id="source" class="tabs-container">
</p>
<pre>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;link href=&quot;http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
  &lt;script src=&quot;http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js&quot;&gt;&lt;/script&gt;
  &lt;style type=&quot;text/css&quot;&gt;
  div.green { margin: 0px; width: 100px; height: 80px; background: green; border: 1px solid black; position: relative; }
  div.red { margin-top: 10px; width: 50px; height: 30px; background: red; border: 1px solid black; position: relative; }
  .ui-effects-transfer { border: 2px solid black; }

&lt;/style&gt;

  &lt;script&gt;
  $(document).ready(function() {
    
$(&quot;div&quot;).click(function () {
      var i = 1 - $(&quot;div&quot;).index(this);
      $(this).effect(&quot;transfer&quot;, { to: $(&quot;div&quot;).eq(i) }, 1000);
});

  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body style="font-size:62.5%;"&gt;
  &lt;div class=&quot;green&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;red&quot;&gt;&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>
<p>
</div>
</p>
<p>
</div>
</div>
</div>
<div id="options">
<h2 class="top-header">Arguments</h2>
<ul class="options-list">

	<li class="option" id="option-className">
	<div class="option-header">
	<h3 class="option-name"><a href="#option-className">className</a></h3>
	<dl>
		<dt class="option-type-label">Type:</dt>
		<dd class="option-type">String</dd>

	</dl>
	</div>
	<div class="option-description">
	<p>Optional class name the transfer element will receive.</p>
	</div>
	</li>

	<li class="option" id="option-to">
	<div class="option-header">
	<h3 class="option-name"><a href="#option-to">to</a></h3>
	<dl>
		<dt class="option-type-label">Type:</dt>
		<dd class="option-type">String</dd>

	</dl>
	</div>
	<div class="option-description">
	<p>jQuery selector, the element to transfer to.</p>
	</div>
	</li>

</ul>
</div>
</div>

</p>
<!-- 
Pre-expand include size: 4669 bytes
Post-expand include size: 5065 bytes
Template argument size: 2855 bytes
Maximum: 2097152 bytes
-->

<!-- Saved in parser cache with key jqdocs_docs:pcache:idhash:2627-1!1!0!!en!2 and timestamp 20100909220152 -->
