
<ul class="UIAPIPlugin-toc">
	<li><a href="#overview">Overview</a></li>
	<li><a href="#options">Arguments</a></li>
</ul>
<div class="UIAPIPlugin">
<h1>jQuery UI Fade Effect</h1>
<div id="overview">
<h2 class="top-header">Overview</h2>
<div id="overview-main">
<p>Fades the element. The same effect as jQuery's fadeIn/Out/To
methods, but exposes it to the show, hide and effect methods.</p>
</div>
<div id="overview-dependencies">
<h3>Dependencies</h3>
<ul>
	<li>Effects Core</li>
</ul>
</div>
<div id="overview-example">
<h3>Example</h3>
<div id="overview-example" class="example">
<ul>
	<li><a href="#demo"><span>Demo</span></a></li>
	<li><a href="#source"><span>View Source</span></a></li>
</ul>
<p>
<div id="demo" class="tabs-container" rel="170">Hides the element
by fading it out.<br />
</p>
<pre>
$(&quot;div&quot;).<a href="http://docs.jquery.com/Events/click"
	title="Events/click">click</a>(function () {
      $(this).<a href="http://docs.jquery.com/UI/Effects/hide"
	title="UI/Effects/hide">hide</a>(&quot;fade&quot;, {}, 1000);
});

</pre>
<p>
</div>
<div id="source" class="tabs-container">
</p>
<pre>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;link href=&quot;http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
  &lt;script src=&quot;http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js&quot;&gt;&lt;/script&gt;
  &lt;style type=&quot;text/css&quot;&gt;
  div { margin: 0px; width: 100px; height: 80px; background: green; border: 1px solid black; position: relative; }
&lt;/style&gt;

  &lt;script&gt;
  $(document).ready(function() {
    
$(&quot;div&quot;).<a href="http://docs.jquery.com/Events/click"
	title="Events/click">click</a>(function () {
      $(this).<a href="http://docs.jquery.com/UI/Effects/hide"
	title="UI/Effects/hide">hide</a>(&quot;fade&quot;, {}, 1000);
});

  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body style="font-size:62.5%;"&gt;
  &lt;div&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
<p>
</div>
</p>
</div>
</div>
</div>
<div id="options">
<h2 class="top-header">Arguments</h2>
<ul class="options-list">
	<p>The fade effect has no arguments</p>
</ul>
</div>
</div>

<!-- 
Pre-expand include size: 4014 bytes
Post-expand include size: 4839 bytes
Template argument size: 2913 bytes
Maximum: 2097152 bytes
-->

<!-- Saved in parser cache with key jqdocs_docs:pcache:idhash:3765-1!1!0!!en!2 and timestamp 20100910172935 -->
